/* //////////////////////////////
Quick Trip Section
 */
$mondayColor:#4D748C;
$tuesdayColor:#324759;
$wednesdayColor:#C1CCA9;
$thursdayColor:#93B3BF;
$fridayColor: #688C89;
$saturdayColor: rgb(153	,67,	25	);
$sundayColor: #709687;
$sectionTitleColor: rgb(131, 143, 102);

//needed to get sticky elements to work
#page {
    overflow:unset!important;
}
.stickyWrap {
    z-index:2;
}

.qt_iconBoxRow{
    display:none;
}

.qt_featuredImage {
    object-fit:cover;
    width:100%;
    margin:-50px 0px 20px 0px;
}
.qt_font {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.qt_logo {
    font-size:70px;
    display:block;
    margin:0px 0px -20px 5px;
}
.qt_title {
    margin-bottom:-50px;
    z-index:99;
    position:relative;
}
.qt_titleBG{
    background:white;
    padding:20px 20px 30px 20px;
    margin-left:-12px;
    display:inline-block;
}
.qt_cityName {
    font-size:110px;
    line-height:95px;
}
#qt_map {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    margin-top:110px;
}
#qt_map div {
    overflow:unset!important;
}
.qt_iconBox {
    background: rgba(255, 162, 22, 0.46);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.qt_iconBox span {
    font-size:30px;
    padding:10px;
}
.qt_iconDescBox {
    background: rgba(255, 162, 22, 0.46);
}
.qt_sectionTitle {
    position:relative;
    z-index:3;
    display: inline-block;
    width: 96%;
    padding-left:20px;
    //margin-left: -100px;
    background: $sectionTitleColor;
    font-size: 40px;
    color: white;
    font-weight: 100;
}
.qt_sectionHighlights {
    font-size:25px;
}
.swiper-slide img {
    object-fit:cover;
    object-position: center center;
    width:100%;
    max-height:530px;
}
.qt_alternativeBoxWrapper {
    clear:both;
}
.qa_alternativeTitleDash {
    width: 33%;
    height: 1px;
    border-bottom: 2px solid black;
    display: block;
    padding-top: 17px;
    float: left;
}
.qa_alternativeTitleText {
    float:left;
    width:33%;
}
.dayOfWeek{
    text-align: center;
    font-size: 90px;
    color: white;
    margin-bottom: 40px;
}
.flattenDiv {
    height:0px;
    display:none!important;
}
.qt_alternativeTitle {
    text-align:center;
    font-size:28px;
    /*background:rgba(8,113,181,.2);*/
    padding:20px;
}
.flexContainer {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.qt_alternativeBusinessTitle {
    color:black;
    text-align:center;
    font-size: 26px;
    margin: 0 auto;
    display: block;
}
a.qt_alternativeBusinessTitle {
    margin-bottom: -20px;
    text-decoration:underline;
}
.qt_alternativeBox {
    border:2px solid black;
    width: 300px;
    padding: 10px;
    margin-bottom:10px;
    font-size:14px;
}
.row.sectionWrapper{
    padding-bottom: 70px;
    padding-top:0px;
}
.sectionMonday {
    border-right: 10px solid $mondayColor;
}
.sectionTuesday {
    border-right: 10px solid $tuesdayColor;
}
.sectionWednesday {
    border-right: 10px solid $wednesdayColor;
}
.sectionThursday {
    border-right: 10px solid $thursdayColor;
}
.sectionFriday {
    border-right: 10px solid $fridayColor;
}
.sectionSaturday {
    border-right: 10px solid $saturdayColor;
}
.sectionSunday {
    border-right: 10px solid $sundayColor ;
}
.dayBGColorMonday {
    background: $mondayColor;
}
.dayBGColorTuesday {
    background: $tuesdayColor;
}
.dayBGColorWednesday {
    background: $wednesdayColor;
}
.dayBGColorThursday {
    background: $thursdayColor;
}
.dayBGColorFriday {
    background: $fridayColor;
}
.dayBGColorSaturday {
    background: $saturdayColor;
}
.dayBGColorSunday {
    background: $sundayColor;
}
#qt_timeline {
    height: 100px;
    width: 100px;
    z-index: 2;
    margin-left: -166px;
    background:white;
}
#qt_timeline svg {
    width:100px;
    height:100px;
    opacity:0;
}

.qt_timeofdayWrapper {
    font-size: 110px;
    opacity: 0;
    margin-left: -210px;
    position: fixed;
    margin-left: 50px!important;
    top: 50%;
    left: 30px;
    transition: 1s all;
}
.stickyFlag {
    position:sticky;
    top:100px;
}
.dayFlag {
    float:right;
    width:130px;
    margin-right:-155px;
    margin-top:20px;
    font-size:20px;
    text-indent:20px;
    padding:10px;
    color:white;
}

%dayFlag::after {
    content: "";
    float: right;
    margin-right: 110px;
    margin-top: -32px;
    width: 10px;
    height: 10px;
    border-right: 21px solid $sundayColor;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.dayFlagBorderMonday::after {
    @extend %dayFlag;
    border-right-color: $mondayColor;
}
.dayFlagBorderTuesday::after {
    @extend %dayFlag;
    border-right-color: $tuesdayColor;
}
.dayFlagBorderWednesday::after {
    @extend %dayFlag;
    border-right-color: $wednesdayColor;
}
.dayFlagBorderThursday::after {
    @extend %dayFlag;
    border-right-color: $thursdayColor;
}
.dayFlagBorderFriday::after {
    @extend %dayFlag;
    border-right-color: $fridayColor;
}
.dayFlagBorderSaturday::after {
    @extend %dayFlag;
    border-right-color: $saturdayColor;
}
.dayFlagBorderSunday::after {
    @extend %dayFlag;
    border-right-color: $sundayColor;
}

///////////////////
//Media queries
//////////////////
@media all and (max-width: 1230px) {
    .row.sectionWrapper {
        padding: 40px;
        padding-top:0px;
    }
    #qt_summary {
        padding:40px;
    }
}
@media all and (max-width: 1024px) {
    .row.sectionWrapper {
        padding-right: 0px;
        margin-right: 80px;
    }

    .dayFlag {
        width: 80px;
        margin-right: 5px;
        margin-top: 20px;
        font-size: 17px;
        text-indent: -6px;
    }
    %dayFlag::after {
    margin-right:70px;
    }
}
@media all and (max-width: 500px) {
    .qt_cityName {
        font-size:80px;
    }
    .row.sectionWrapper {
        padding-right: 0px;
        margin-right: 0px;
    }
    .dayOfWeek {
        font-size:60px;
    }
    .dayFlag {
        display:none;
    }
    .qt_sectionTitle {
        font-size:35px;
    }
    .qt_alternativeTitle {
        font-size:22px;
    }
    .qa_alternativeTitleDash {
        width:25%;
    }
    .qa_alternativeTitleText {
        width:50%;
        margin-bottom: 20px;
    }


}